{{>header}}
{{>nav}}
<section class="container my-5">
    <div class="d-flex justify-content-between mb-4">
        <a href="/add" class="btn btn-primary">Add</a>
        <form action="/search" method="get">
            <div class="input-group mx-5">
                <div class="input-group-prepend">
                    <button button="submit" class="btn btn-secondary">search</button>
                </div>
                <input type="text" class="form-control" name="search" aria-describedby="basic-addon1">
            </div>
        </form>
        <a href="/delAllLogic" class="btn btn-danger text-nowrap">Delete all</a>
    </div>
    <table class="table table-light my-5">
        <thead class="fw-bold">
            <tr class="text-center">
                <td>Id</td>
                <td>Title</td>
                <td>content</td>
                <td>Due date</td>
                <td>Status</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            {{#if hasData}}
            {{#each allTasks}}
            <tr>
                <td>{{_id}}</td>
                <td>{{title}}</td>
                <td>{{content}}</td>
                <td>{{dueDate}}</td>
                <td>{{status}}</td>
                <td class="text-center">
                    <a href="/show/{{_id}}" class="btn btn-primary mx-3">show</a>
                    <a href="/edit/{{_id}}" class="btn btn-warning mx-3">edit</a>
                    <a href="/delSingleLogic/{{_id}}" class="btn btn-danger mx-3">delete</a>
                   {{#if active}}
                    <a href="/activate/{{_id}}" class="btn btn-success mx-3">activate</a>
                    {{/if}}
                </td>
            </tr>
            {{/each}}
            {{else}}
            <tr class="table-danger">
                <td colspan="6" class="text-center">No Tasks yet</td>
            </tr> {{/if}}
        </tbody>
    </table>
</section>
{{>footer}}